* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

primary color #B3DDF2
secondary color #ddf4ff


html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
}



/*styling for navbar*/

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:#B3DDF2;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    background-color: #B3DDF2;
}

/* Dropdown styling */
.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ddf4ff;
}

.navbar ul ul li {
    display: block;
    width: 200px;
}

.navbar ul ul ul {
    left: 100%;
    top: 0;
}

.navbar ul li:hover > ul {
    display: block;
}

/* Menu label styling (for mobile navigation) */
#menu-bar {
    display: none;
}
   
}